@import '/styles/mixins.scss';
@import '/styles/variabals.scss';

$width-card: convertPX(250);

.card {
  cursor: pointer;
  color: $text-page;
  position: relative;
  border-radius: convertPX(20);
  width: $width-card;
  transition: .8s ease;
  overflow: hidden;

  &:hover, &:focus-within {
    transform: translateY(-2px);
  }

  &:hover .info,
  &:focus-within .info {
    transform: translateY(0);
    transition-delay: .3s;
  }

  &:hover .info > *:not(.title)  {
   opacity: 1;
   transition-delay: .6s;
  }
}

.image {
  width: $width-card;
  height: convertPX(350);
  border-radius: convertPX(20);
}

.info {
  padding: convertPX(20);
  position: absolute;
  top: 0;
  left: 0;
  width: $width-card;
  height: 100%;
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 0.4) 10%,
    hsl(0 0% 0% / 1)
    );

  border-radius: convertPX(20);
  transition: .2s ease;
  cursor: pointer;
  transform: translateY(85%);
  transition: transform .5s ease;
}

.info > *:not(.title) {
  opacity: 0;
  transition: opacity .5s linear;
}

.title {
  position: relative;
  max-width: convertPX(250);
  font-size: convertPX(14);
  position: absolute;
  top: convertPX(20);
  overflow: hidden;
  text-overflow: ellipsis;

  &::after{
    content: '';
    position: absolute;
    height: convertPX(7);
    background: $text-page;
    left: 0;
    bottom: convertPX(-7);
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: .8s ease;
  }
}

.card:hover .title::after {
  transform: scaleX(1);
}


.description {
  width: convertPX(210);
  position: absolute;
  top: convertPX(110);
  font-size: convertPX(14);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
  line-height: convertPX(16);
}

.button {
  text-align: center;
  outline: 1px solid white;
  font-size: convertPX(14);
  position: absolute;
  bottom: convertPX(20);
  right: convertPX(20);
  width: convertPX(100);
  padding: convertPX(10);
  cursor: pointer;
  background-color: transparent;
  color: $text-page;
  border-radius: convertPX(8);
  transition: .1s ease;

  &:hover, &:focus {
    background: $color-Link-cap;
  }
}