@import '/styles/mixins.scss';
@import '/styles/variabals.scss';

.wrapper {
  margin-top: 130px;
  z-index: 100000;
  display: flex;
  gap: 50px;
}

.loading_image {
  width: 390px;
  height: 530px;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}

.image_box {
  width: 385px;
  height: 525px;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}

.image::after {
  content: '';
  position: absolute;
  background: transparent;
  inset: 5px;
}

.image_box::before {
  z-index: -50;
  content: '';
  position: absolute;
  width: 200px;
  height: 130%;
  background: linear-gradient(#00000052, #ffffff75);
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image {
  width: 380px;
  height: 520px;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 36px;
  margin-bottom: 10px;
}

.year {
  font-size: 14px;
}

.description {
  margin-top: 30px;
  width: 700px;
  line-height: 22px;
  margin-bottom: 30px;
  font-size: 16px;
}

.show {
  margin-bottom: 10px;
  font-size: 24px;
}

.buttons_show {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.button {
  cursor: pointer;
  width: fit-content;
  padding: 10px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  transition: all 0.1s ease;
  font-size: 20px;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px.5rem rgba(0, 0, 0, 0.227);
  }
  &:active {
    transform: translateY(0px);
    box-shadow: 0px 4px 10px.5rem rgba(0, 0, 0, 0.227);
  }
}
