@import '/styles/mixins.scss';
@import '/styles/variabals.scss';

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #283048;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #859398, #283048);
}

.wrapper {
  margin: convertPX(150) 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: convertPX(20);
  grid-row-gap: convertPX(20);
  justify-items: center;
}

.more_button {
  position: relative;
  bottom: convertPX(70);
  left: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: convertPX(50);
}

