$width: 24px;

@keyframes rotate {
  0%, 15% { transform: rotateX(0deg)};
  85%, 100% { transform: rotateX(360deg)};

}

.banner {
  display: flex;
  perspective: 500px;
}

.panel {
  position: relative;
  width: $width;
  height: 24px;
  overflow: hidden;
  animation: rotate 4s var(--delay) infinite ease-in-out;
}

.panel::before {
  position: absolute;
  left: var(--left);
  content: 'фильмы всего мира';
  font-size: 22px;
  width: max-content;
  color: hsl(var(--hue), 75%, 75%);
}

@for $i from 0 to 10 {
  .panel:nth-child(#{$i + 1}) {
    --left: #{$width * $i * -1};
    --hue: #{360 / 10 * $i};
    --delay: #{$i * 0.1s};
  };
};