@import '/styles/mixins.scss';
@import '/styles/variabals.scss';

@keyframes rotate {
  0%,
  30% {
    transform: rotateX(0deg);
  }
  70%,
  100% {
    transform: rotateX(360deg);
  }
}

.banner {
  display: flex;
  margin-left: 70px;
  perspective: 500px;
}

.panel {
  position: relative;
  width: 26px;
  height: 30px;
  overflow: hidden;
  animation: rotate 5s var(--delay) infinite ease-in-out;
}

.panel::before {
  position: absolute;
  left: var(--left);
  content: 'фильмы всего мира';
  font-size: 26px;
  width: max-content;
  color: $text-page;
}

@for $i from 0 to 10 {
  .panel:nth-child(#{$i + 1}) {
    --left: #{26px * $i * -1};
    --hue: #{360 / 10 * $i};
    --delay: #{$i * 0.1s};
  }
}
