@import "./mixins.scss";

//colors

$text-page: #ffffff;
$background: #2a2a2a;
$border-bottom-Cup:  #ffffff;
$color-Link-Cup: rgba(255, 255, 255, 0.4);
$background-input-search-cup: rgba(255, 255, 255, 0.6);
$color-icon-search-cup: #2a2a2a;
$color-text-search-cup: #2a2a2a;
